.converter__search {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -74px;
  right: -8px;
  display: none;
  z-index: 1;
  background-color: #b9b9b9c9;
}

@media (max-width: 930px) {
  .converter__search {
    width: 180px;
    height: 180px;
    bottom: -154px;
    right: -41px;
    background-color: #b9b9b9e3;
  }
}

@media (max-width: 470px) {
  .converter__search {
    right: 54px;
    bottom: -119px;
  }
}
