.converter__search-cryptocurrency-input {
  padding: 0 5px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  width: 100%;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

@media (max-width: 930px) {
  .converter__search-cryptocurrency-input {
    height: 35px;
    text-align: center;
  }
}
