.converter__search-cryptocurrency {
  width: 100px;
  height: 100px;
  background-color: #ffffff85;
  position: absolute;
  right: 0;
  bottom: -75px;
  display: none;
}

@media (max-width: 410px) {
  .converter__search-cryptocurrency {
    right: 93px;
    bottom: -98px;
  }
}
